.layout {
  display: block;
  height: 100vh;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: calc(var(--real-vh, 1vh) * 100 - 76px);
  width: 100%;
  background-color: var(--background);
  position: relative;
}

.content {
  flex: 1;
  padding: 24px;
  overflow: auto;
  background-color: var(--background);
}
