.sidebar {
  position: relative;
  overflow: visible;
  width: 240px;
  background-color: var(--background-secondary) !important;
  border-right: 1px solid var(--sidebar-background);
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
  box-shadow: 1px 1px 7px var(--box-shadow-color-secondary);
}

.collapsed {
  width: 64px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 4px 8px 1px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  transition: background 0.15s ease;
  white-space: nowrap;
  overflow: hidden;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-weight: 500 !important;
  font-size: 16px;
  border-left-color: var(--icon-active-color);
  border-left-style: solid;
  border-left-width: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active .iconWrapper {
  color: var(--icon-active-color);
}

.toggle {
  position: absolute;
  top: 0px;
  right: -18px;

  width: 18px;
  height: 150px;
  border-radius: 0% 20px 20px 0;

  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  opacity: 0;
  transition: all 0.2s ease;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  z-index: 20;
}

.toggle:hover {
  background-color: var(--background-secondary);
  transform: scale(1.05);
  opacity: 0.8;
}

.sidebar:hover .toggle {
  opacity: 1;
}

.sidebar.collapsed .link {
  justify-content: center;
  padding: 10px 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}
